{include file='public/header'}
{load href='__CSS__/face.css,__JS__/faceSelection.js,__JS__/crop_js/require.js'}
<div class="security-content" data-v-content="">
    <div class="security-left" data-v-content="" data-v-sLeft="">
        <span class="security-title" data-v-sLeft="">个人中心</span>
        <ul id="ser-ul" class="security-ul" data-v-sLeft="">
            <li class="security-list" data-v-sLeft="">
                <i class="security-icon icon-0" data-v-sLeft=""></i>
                <span class="security-nav-name" data-v-sLeft="">
                    首<b style="width: 28px;display: inline-block"></b>页
                </span>
            </li>
            <li class="security-list on" data-v-sLeft="">
                <i class="security-icon icon-4" data-v-sLeft=""></i>
                <span class="security-nav-name" data-v-sLeft="">我的头像</span>
            </li>
        </ul>
    </div>
    <div class="security-right" data-v-content="">
        <div class="sr-t" data-v-sRight="" data-v-content="">
            <span class="sr-tit-icon" data-v-sRight=""></span>
            <span class="sr-tit-text" data-v-sRight="">我的头像</span>
        </div>
        <div class="sr-bottom" data-v-content="">
            <div class="face-tool" data-v-facetool="" data-v-content="">
                <div class="tool-container" data-v-facetool="">
                    <a class="face-change-A" data-v-facetool="" href="account/face/upload">
                        <div class="tool-change-face" data-v-facetool="">
                            <span id="face-change" data-v-facetool="">更换头像</span>
                        </div>
                    </a>
                    <div class="tool-face-box" data-v-facetool="">
                        <div class="tool-face-box" data-v-facebox="" data-v-facetool="">
                            <img class="tool-user-face" data-v-facebox="" alt="" src="__IMG__/m03.jpg">
                        </div>
                    </div>
                    <div class="disable tool-uninstall-pendant" data-v-facetool="">
                        <span data-v-facetool="">卸下挂件</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='public/footer'}
