<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html ;charset=utf-8" />
    <title>哔哩哔喱o(*￣▽￣*)ブ干杯~~bilibili</title>
    {load href='__CSS__/font-awesome/css/font-awesome.css,__CSS__/biliUserNav.css'}
    {load href='__JS__/jquery-3.2.1.min.js,__JS__/biliUserInfo.js'}
    <!---->
</head>
<body>
<div class="wrap-moudle">
<div class="mini-header">
    <div class="nav-link">
        <ul class="nav-link-ul">
            <li class="nav-link-item">
                <a class="link" href="">
                    <i class="fa fa-diamond bilifa-zhuzhan"></i>
                    主站
                </a>
            </li>
            <li class="nav-link-item">
                <a class="link" href="">
                    番剧
                </a>
            </li>
            <li class="nav-link-item">
                <a class="link" href="">
                    overlord专场
                </a>
            </li>
            <li class="nav-link-item">
                <a class="link" href="">
                    SAO专场
                </a>
            </li>
            <li class="nav-link-item">
                <a class="link" href="">
                    <i class="fa fa-gittip bilifa-zhuzhan"></i>
                    转职为B侠
                </a>
            </li>
        </ul>
    </div>
    <div class="bili-nav-search-box">
        <div class="nav-search">
            <form id="nav-searchform">
                <input class="nav-search-keyword" type="text" autocomplete="off" name="" placeholder="bilibili~~!">
                <div class="nav-search-btn">
                    <button class="nav-search-submit">
                        <i class="fa fa-neuter fa-3x bilifa"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="bili_nav_userCenter">
        <div class="item">
            <div class="mini-container">
                <div class="mini-img">
                    <a href="">
                        <img id = "little_TV" src="__IMG__/m03.jpg" alt= "bilibili-picture"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="item">
            <a href="">
                <span class="name">大会员</span>
            </a>
        </div>
        <div class="item">
            <a href="localhost://tp5.1test/public/message" target="_blank">
                <span class="name">消息</span>
            </a>
        </div>
        <div class="item">
            <a href="">
                <span class="name">动态</span>
            </a>
        </div>
        <div class="item">
            <a href="">
                <span class="name">收藏</span>
            </a>
        </div>
    </div>
</div>
    <div class="bili-banner"></div>