{include file='public/header'}
<div id="app">
    <div class="M-wrap">
        <div class="left-con">
            <div id="previewInfo-box" class="movie-info report-wrap-module report-scroll-module">
                <h1 class="movie-title" title="【约会大作战】万古生香">
                    <span class="tit tr-fix">【约会大作战】万古生香</span>
                </h1>
                <div class="movie-data">
                    <span class="a-crumbs">
                        <span id="movie-block-sort">动画</span>
                    </span>
                    <span>2020-02-17 16:01:45</span>
                </div>
                <div class="movie-data">
                    <span class="bd-view" title="总播放数96176">9.6万播放 · </span>
                    <span class="danmu" title="历史累计弹幕数1285">1285弹幕</span>
                    <span class="copyright">未经作者授权，禁止转载</span>
                </div>
            </div>
            <div id="playerWrap" class="player-wrap">
                <div id="bofqi"><!--EVENT-->
                    <div class="player">
                        <div id="bilibiliPlayer" class="bilibili-player relative bilibili-player-no-cursor" data-login="true">
                            <!--EVENT-->
                            <div class="bilibili-player-area video-state-blackside progress-shadow-show" aria-label="bili播放器">
                                <div class="bilibili-player-video-wrap">
                                    <!--EVENT-->
                                    <div class="bilibili-player-video-popup">
                                        <div class="bilibili-player-popup-inner">
                                            <div class="bilibili-player-popup-area"></div><!--EVENT-->
                                        </div>
                                    </div>
                                    <div class="bilibili-player-video-subtitle">
                                        <div class="subtitle-position subtitle-position-bc">
                                            <div class="subtitle-wrap"><!--EVENT-->
                                                <div class="subtitle-group"></div>
                                                <div class="subtitle-group second"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bilibili-player-video-bas-danmuku">
                                        <div class="bas-danmuku"></div>
                                    </div>
                                    <div class="bilibili-player-video-adv-danmuku">
                                        <canvas></canvas>
                                    </div>
                                    <div class="bilibili-player-video"><!--EVENT-->
                                        <video preload="auto" src=""></video><!--EVENT-->
                                    </div>
                                    <div class="bilibili-player-video-control-wrap"><!--EVENT-->
                                        <div 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>1
            </div>
        </div>
    </div>
</div>
{include file='public/footer'}
