<div class="menu-wrap">
    <div class="primary-menu">
        <div id="primaryLeftMenu">
            <ul class="left-con">
                <li>
                    <a href="">
                        <div class="round">
                            <img src="__IMG__/primaryMenu/shouye.PNG" alt=""/>
                        </div>
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="round yel">
                            <img src="__IMG__/primaryMenu/dongtai.PNG" alt=""/>
                        </div>
                        <span>动态</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="round blue">
                            <img src="__IMG__/primaryMenu/ranking.PNG" alt=""/>
                        </div>
                        <span>排行榜</span>
                    </a>
                </li>
            </ul>
        </div>
        <span class="tab-line"></span>
        <div id="center-menu">
					<span>
						<div class="item">
							<a class="name" href="">
								<span>
									动画
									<em>999+</em>
								</span>
							</a>
						</div>
					</span>
            <span>
						<div class="item">
							<a class="name" href="">
								<span>
									动画
									<em>999+</em>
								</span>
							</a>
						</div>
					</span>
            <span>
						<div class="item">
							<a class="name" href="">
								<span>
									动画
									<em>999+</em>
								</span>
							</a>
						</div>
					</span>
            <span>
						<div class="item">
							<a class="name" href="">
								<span>
									动画
									<em>999+</em>
								</span>
							</a>
						</div>
					</span>
            <span>
						<div class="item">
							<a class="name" href="">
								<span>
									动画
									<em>999+</em>
								</span>
							</a>
						</div>
					</span>
            <span>
						<div class="item">
							<a class="name" href="">
								<span>
									动画
									<em>999+</em>
								</span>
							</a>
						</div>
					</span>
        </div>
        <span class="tab-line"></span>
        <div class="primaryRightmenu">
					<span>
						<div class="item" tabindex="0">
							<a class="name" href="" target="_blank">
								<i class="fa fa-reddit-alien bili-icon"></i>
								<span>专栏</span>
							</a>
						</div>
					</span>
            <span>
						<div class="item" tabindex="0">
							<a class="name" href="" target="_blank">
								<i class="fa fa-university bili-icon"></i>
								<span>小黑屋</span>
							</a>
						</div>
					</span>
            <span>
						<div class="item" tabindex="0">
							<a class="name" href="" target="_blank">
								<i class="fa fa-flag bili-icon"></i>
								<span>活动</span>
							</a>
						</div>
					</span>
        </div>
    </div>
</div>