<div class="space-left">
<div class="side-bar">
    <div class="title" data-v-K01="">
        <i class="fa fa-rocket"></i>
        <div data-v-K01="">消息中心</div>
    </div>
    <ul class="list" data-v-K01="">
        <li class="item" data-v-K01="">
            <a class="" href="" title="回复我的" data-v-K01="">
                回复我的
            </a>
        </li>
        <li class="item" data-v-K01="">
            <a class="" href="" title="收到的赞" data-v-K01="">
                收到的赞
            </a>
        </li>
        <li class="item" data-v-K01="">
            <a class="" href="" title="系统通知" data-v-K01="">
                系统通知
            </a>
        </li>
        <li class="item" data-v-K01="">
            <a class="" href="" title="系统通知" data-v-K01="">
                我的消息
            </a>
        </li>
        <li class="item" data-v-K01="">
            <a class="" href="" title="私信存档" data-v-K01="">
                私信存档
            </a>
        </li>
    </ul>
    <div class="divided-line"></div>
    <div class="setting item" data-v-K01="">
        <i class="fa fa-cog"></i>
        <a class="" href="" title="消息设置" data-v-K01="">消息设置</a>
    </div>
</div>
</div>